<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>controller.Chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatHistory</servlet-name>
        <servlet-class>controller.ChatHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComplete</servlet-name>
        <servlet-class>controller.PostComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateChannel</servlet-name>
        <servlet-class>controller.CreateChannel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateChannelComplete</servlet-name>
        <servlet-class>controller.CreateChannelComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>controller.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactConfirm</servlet-name>
        <servlet-class>controller.ContactConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top</servlet-name>
        <servlet-class>controller.Top</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>controller.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConfirm</servlet-name>
        <servlet-class>controller.RegistrationConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationComplete</servlet-name>
        <servlet-class>controller.RegistrationComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Project</servlet-name>
        <servlet-class>controller.Project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectSchedule</servlet-name>
        <servlet-class>controller.ProjectSchedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatHistory</servlet-name>
        <url-pattern>/ChatHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComplete</servlet-name>
        <url-pattern>/PostComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateChannel</servlet-name>
        <url-pattern>/CreateChannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateChannelComplete</servlet-name>
        <url-pattern>/CreateChannelComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactConfirm</servlet-name>
        <url-pattern>/ContactConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top</servlet-name>
        <url-pattern>/Top</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConfirm</servlet-name>
        <url-pattern>/RegistrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationComplete</servlet-name>
        <url-pattern>/RegistrationComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Project</servlet-name>
        <url-pattern>/Project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectSchedule</servlet-name>
        <url-pattern>/ProjectSchedule</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
